appdirs                   
attrs                     
babelfish                 
chardet                   
cleanit                   
click                     
colorama                  
jsonschema                
jsonschema-specifications 
numpy                     
opencv-python             
packaging                 
pgsrip                    
pillow                    
pip                       
pysrt                     
pytesseract               
PyYAML                    
rebulk                    
referencing               
rpds-py                   
setuptools==70.1.0             
tqdm                      
trakit                    